/* Navigation Bar Styles */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #333; /* Ensure background color is defined for a smooth transition */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; /* Smooth transitions for color and background */
}

nav ul li a:hover,
nav ul li a:focus {
  background-color: #5299eb; /* A more subtle change */
  color: #fff; /* Adjust as needed */
}

/* Active link */
.active {
  background-color: #5299eb; /* Active link background */
  color: #ffffff; /* Active link text color */
}
.non-active {
  background-color: #ffffff; /* Active link background */
  color: #ffffff; /* Active link text color */
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  transform-origin: left;
  background-color: #5299eb;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {scale: 1 1;}
}

/* .fade-in-on-scroll {
  opacity: 0;
  transform: scale(0.7);
  transition: transform 0.5s, opacity 0.5s;
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: scale(1);
  }
} */

